[Desktop Entry]
Name=Crow
Comment=Guilty Gear -Strive- Mod Manager
Exec=crow
Icon=com.github.moemairu.crow
Terminal=false
Type=Application
Categories=Game;Utility;
